.env
.venv
ffmpeg.exe
ffprobe.exe
backend/whisper_client/__pycache__/whisper.cpython-39.pyc
/.idea
backend/bart/__pycache__/bart.cpython-39.pyc
backend/sd_client/__pycache__/sd.cpython-39.pyc
backend/whisper_client/__pycache__/link_to_audio.cpython-39.pyc
*.pyc
