header {
    background-color: #ffffff;
    padding: 20px;
    /* margin: 50px; */
    display: flex;
    align-items: center;
    border: 2px solid #000000;
    font-family: Arial, sans-serif;
    padding-left: 200px;
  }
  
  header a {
    text-decoration: none;
  }
  header h1 {
    margin: 0;
    color: #000000;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -3px;
  }
  
  nav {
    margin-left: 100px;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-left: 60px;
  }